 body{
    background: rgb(95, 90, 85);
}
.col-md-8,.col-md-4 {
    background: rgb(74, 69, 63);
}
a {
    background: rgb(58, 54, 49);
    height: 130px;
    width: 130px;
    border-radius: 5px;
}
.square{
    height: 160px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.1)
}